* {
    padding: 0;
    margin: 0;
    font-size: 30px;
}
#box1 {
    background-color: aqua;
    color: black;
    padding: 10px;
    border: 20px solid red;
    margin: 60px;
    height: 100px;
    width: 100px;
}
#box2 {
    background-color: blueviolet;
    color: white;
    padding: 10px;
    border: 20px solid red;
    height: 100px;
    width: 100px;
    margin: 70px;
}